.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;

    .top {
      display: flex;
      padding: 20px;
      gap: 20px;

      .left {
        flex: 1;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 20px;
        position: relative;

        .editButton {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          font-size: 12px;
          color: #037979;
          background-color: #058f8f1a;
          cursor: pointer;
        }

        .item {
          display: flex;
          gap: 20px;
        }

        .itemImg {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          .itemTitle {
            margin-bottom: 10px;
            color: black;
            font-size: 27px;
          }

          .detailItem {
            margin-bottom: 10px;
            font-size: 13px;

            .itemKey {
              font-weight: bold;
              color: rgba(106, 105, 105, 0.926);
              margin-right: 5px;
            }

            .itemValue {
              font-weight: 350;
            }
          }
        }
      }

      .right {
        flex: 2;
        //   -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        //   box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        //   padding: 20px;
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 13px 20px;
      position: relative;
    }

    .title {
      color: gray;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}
