.table{
    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
    }
    
    .status{
        padding: 5px;
        border-radius: 5px;

        &.Approved{
            color: green;
            background-color: rgba(0, 128, 0, 0.137);
        }
        &.Pending{
            color: rgb(233, 171, 17);
            background-color: rgba(218, 165, 32, 0.147);
        }
    }
}