.datatable{
    height: 600px;
    padding: 20px;
    justify-content: center;
    contain: layout;

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }

    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        
        &.Active{
            background-color: rgba(0, 128, 128, 0.318);
            color: green;
        }
        &.Pending{
            background-color: rgba(218, 135, 0, 0.249);
            color: goldenrod;
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: rgba(1, 1, 219, 0.782);
            border: 1px solid rgba(0, 0, 139, 0.215);
            cursor: pointer;
        }
        
        .deleteButton{
            padding: 3px 6px;
            border-radius: 5px;
            color: rgb(255, 33, 33);
            border: 1px solid rgba(33, 4, 4, 0.252);
            cursor: pointer;
        }
    }
}